<body class="leaderboard-bg">
<h1>Here Are Your Favorite Dogs!</h1>

{{#each favoriteDogs}}
    <section class="card mx-auto" style="width: 25rem;" id="{{id}}">
        <h1 class="text-dark">{{name}}</h1>
        <h5 class="">Breed: {{breed}}</h5>
        <p>Rating: {{rating}}</p>
        <img src="{{url}}" alt="" style="width:300px;">
    </section>
   </a>
{{/each}}
</body>

<script src="/js/favorites.js"></script>


