<body class="leaderboard-bg">
  <div class="text-center display-1"><strong>Top Dogs</strong></div>

  <div class="container">
    <div class="row my-3 height">
      <div class="col-lg-6 offset-3">
        <img
          class="rounded-circle mx-auto d-block shadow-sm p-2 mb-5 bg-body rounded"
          src="{{dogs.0.url}}"
          alt="Generic placeholder image"
          width="400"
          height="400"
        />
         <h2 class="text-center h1">{{dogs.0.name}}</h2>
        <div class="text-center h1">First Place</div>
        <p class="text-center">
          {{format_breed dogs.0.breed}}
        </p>
      </div><!-- /.col-lg-4 -->

    </div>
    <div class="row my-3 height">
      <div class="col-4 offset-2">
        <img
          class="rounded-circle mx-auto d-block shadow-sm p-2 mb-5 bg-body rounded"
          src="{{dogs.1.url}}"
          alt="Generic placeholder image"
          width="300"
          height="300"
        />
        <h2 class="text-center">{{dogs.1.name}}</h2>
        <div class="text-center h2">Second Place</div>
        <p class="text-center">
          {{format_breed dogs.1.breed}}
        </p>

      </div><!-- /.col-lg-4 -->
      <div class="col-4">
        <img
          class="rounded-circle mx-auto d-block shadow-sm p-2 mb-5 bg-body rounded"
          src="{{dogs.2.url}}"
          alt="Generic placeholder image"
          width="300"
          height="300"
        />
         <h2 class="text-center">{{dogs.2.name}}</h2>
        <div class="text-center h2">Third Place</div>
        <p class="text-center">
          {{format_breed dogs.2.breed}}
        </p>
      </div><!-- /.col-lg-4 -->
    </div>
    <div class="row my-3">
      <div class="col-lg-3">
        <img
          class="rounded-circle mx-auto d-block shadow-sm p-2 mb-5 bg-body rounded"
          src="{{dogs.3.url}}"
          alt="Generic placeholder image"
          width="200"
          height="200"
        />
         <h2 class="text-center">{{dogs.3.name}}</h2>
        <div class="text-center h2">Runner Up</div>
        <p class="text-center">
          {{format_breed dogs.3.breed}}
        </p>
      </div><!-- /.col-lg-2 -->
      <div class="col-lg-3">
        <img
          class="rounded-circle mx-auto d-block shadow-sm p-2 mb-5 bg-body rounded"
          src="{{dogs.4.url}}"
          alt="Generic placeholder image"
          width="200"
          height="200"
        />
        <h2 class="text-center">{{dogs.4.name}}</h2>
        <div class="text-center h2">Runner Up</div>
        <p class="text-center">
          {{format_breed dogs.4.breed}}
        </p>
      </div><!-- /.col-lg-2 -->
      <div class="col-lg-3">
        <img
          class="rounded-circle mx-auto d-block shadow-sm p-2 mb-5 bg-body rounded"
          src="{{dogs.5.url}}"
          alt="Generic placeholder image"
          width="200"
          height="200"
        />
        <h2 class="text-center">{{dogs.5.name}}</h2>
        <div class="text-center h2">Runner Up</div>
        <p class="text-center">
          {{format_breed dogs.5.breed}}
        </p>
      </div><!-- /.col-lg-2 -->
      <div class="col-lg-3">
        <img
          class="rounded-circle mx-auto d-block shadow-sm p-2 mb-5 bg-body rounded"
          src="{{dogs.6.url}}"
          alt="Generic placeholder image"
          width="200"
          height="200"
        />
        <h2 class="text-center">{{dogs.6.name}}</h2>
        <div class="text-center h2">Runner Up</div>
        <p class="text-center">
          {{format_breed dogs.6.breed}}
        </p>
      </div><!-- /.col-lg-2 -->
    </div>
  </div>
</body>